* {
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-rendering: optimizeLegibility;
}
*:focus {
  outline: none;
}
html {
  font-family: 'Nunito Sans', sans-serif;
  font-size: 62.5%;
}
body {
  font-size: 1.6rem;
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}
p {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 460px;
}
.dd-wrapper {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  width: 222px;
}
.dd-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  line-height: 25px;
  border: 1px solid #dfdfdf;
 
  cursor: default;
  position: relative;
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
  font-size: 1.5rem;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
  transition: all 10s;
}
.dd-header:hover {
    border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
   transition: all 0.5s;
}
.dd-header span {
  margin-right: 20px;
}
.dd-header-title {
  font-weight: 300;
  margin: 2px 20px;
  margin-right: 30px;
  font-family: 'Roboto', sans-serif;
}
.angle-down {
  color: #000;
  margin-right: 20px;
}
.dd-list {
  z-index: 10;
  position: absolute;
  width: 100%;
  border: 1px solid #dfdfdf;
  border-top: none;
  border-bottom-right-radius: 30px;
  border-bottom-left-radius: 30px;
  background-color: #fff;
  -webkit-box-shadow: 0 2px 5px -1px #e8e8e8;
          box-shadow: 0 2px 5px -1px #e8e8e8;
  font-weight: 700;
  padding: 15px 0;
  max-height: 215px;

  -webkit-overflow-scrolling: touch;
    font-family: 'Roboto', sans-serif;
}
.dd-list-item {
  width: 100%;
  font-size: 1.5rem;
  padding: 8px 10px;
  line-height: 1.6rem;
  cursor: default;
  display: inline-block;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.dd-list-item.selected {
  color: #fff;
  background-color: #26a69a;
}
.dd-list-item:hover {
  color: #fff;
  background-color: #26a69a;
}
.dd-wrapper-single {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  position: relative;
  width: 265px;
}
.dd-wrapper-single .dd-header {
  border: 1px solid #ccc;
}
.dd-wrapper-single .dd-header .dd-header-name {
  font-weight: 400;
}
.dd-wrapper-single .dd-list {
  border: 1px solid #ccc;
  border-top: none;
}

