html {
  height: 100%;

}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;

}


.swiper-container{
  padding: 20px;
}
.swiper-pagination {
    position: relative;
    margin-top: 20px;
}

.top-shows-heading {
  display: flex;
  justify-content: center;
}

.top-shows-heading h2 {
	margin-top: 30px;
  font-family: 'Luckiest Guy', cursive;
  font-size: 50px;
  color: #004d40;
}
.gradient-wrapper{
  width: 80%;
  padding: 5px;
  margin:auto; 
  background: linear-gradient(to right, #004d40, #80cbc4);
  border-radius: 30px;
  
}
.show-container{
  position: relative;
  background-color: white;
  border-radius: 30px;
  padding: 20px 30px;
  left:20px;
  top:10px;
  margin:auto; 
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;   /* elements wil be arranged in rows and columns just put proper margin between them*/
  
}

@media screen and (max-width: 480px) {
  .top-shows-heading {
      display: flex;
      justify-content: center;
      text-align: center;
  }
  .gradient-wrapper{
    width: 80%;
    padding: 5px;
    margin:auto; 
    background: linear-gradient(to right, #004d40, #80cbc4);
    border-radius: 30px;
    
  }
  .show-container{
    background-color: white;
    border-radius: 30px;
    padding: 20px 30px;
    margin:auto; 
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;   /* elements wil be arranged in rows and columns just put proper margin between them*/
    
  }
}