html {
  height: 100%;


}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  height: 100%;


}
#root{ 
  background: url('./bg-img.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

}
.swiper-container{
  padding: 20px;

}
.swiper-pagination {
    position: relative;
    margin-top: 20px;
}

.top-shows-heading {
  display: flex;
  justify-content: center;
}

.top-shows-heading h2 {
	margin-top: 40px;
  font-family: 'Luckiest Guy', cursive;
  font-size: 50px;
  color: white;
  z-index: 100;
  transition: all 0.4s;

}
.top-shows-heading h2:hover {
  margin-top: 40px;
  font-family: 'Luckiest Guy', cursive;
  font-size: 60px;
  color: #CD0000;
  text-shadow: 2px 2px black;

}
.gradient-wrapper{
  width: 80%;
  padding: 5px;
  margin:auto; 
  background: linear-gradient(to right, black, #d50000);
  border-radius: 30px;
  
}
.show-container{
  position: relative;
  background-color: white;
  border-radius: 30px;
  padding: 20px 30px;
  left:20px;
  top:10px;
  margin:auto; 
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;   /* elements wil be arranged in rows and columns just put proper margin between them*/
  min-height: 700px;
  
}




@media only screen and (max-width: 768px) {


  .top-shows-heading {
      display: flex;
      justify-content: center;
      text-align: center;
  }
  .gradient-wrapper{
    width: 80%;
    padding: 5px;
    margin:auto; 
    background: linear-gradient(to right, black, #d50000);
    border-radius: 30px;
    
  }
  .show-container{
    background-color: white;
    padding: 0px;
    border-radius: 30px;
    padding: 20px 30px;
    margin:auto; 
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;   /* elements wil be arranged in rows and columns just put proper margin between them*/
    
  }

  .top-shows-heading h2 {

  font-family: 'Luckiest Guy', cursive;
  font-size: 30px;
  color: white;
  z-index: 100;
  transition: all 0.4s;

}
.top-shows-heading h2:hover {
  margin-top: 20px;
  font-family: 'Luckiest Guy', cursive;
  font-size: 40px;
  color: #CD0000;
  text-shadow: 2px 2px black;
  

}
.swiper-slide{
  max-height: 200px;
}

  #root{ 
  background: url('./bg-img.jpg') no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  

}

}